# this file contains additional dependencies (not in requirements.in)
# please list all dependencies necessary to test and build this package

# test-tools
pytest>=3.0.6
pytest-cov>=2.4.0
mock==2.0.0
pytest-catchlog>=1.2.2

# build-tools
setuptools>=36.0.1
pep8>=1.7.0
pylint>=1.7.1
bumpversion>=0.5.3
awscli>=1.11.113
pypandoc>=1.4

# misc
#gcdt-kumo>=0.2.0
